
@media screen and (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile-menu {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    #nav-bar,
    #nav-bar li,
    #nav-bar li a {
        display: block;
    }

    #nav-bar li a {
        padding: 2 24px;
    }

    nav.header {
        overflow: hidden;
        
    }
   
    #nav-bar .sub-nav {
        position: initial;
    }
    #nav-bar .sub-nav a {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        width: 100%;
        padding: 5px 41px;
    }
    .mobile-menu {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
    .search-icon {
        display: none;
    }

    .band .mobile-member {
        width: 100%;
        margin-left: 8px;
    }
    
    .s-col-full {
        width: 100%;
    }
    .s-full-width {
        width: 100%;
    }
}
